---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/blog/Hero.astro";
import Tags from "../../../components/blog/Tags.astro";
import ListPosts from "../../../components/blog/ListPosts.astro";
const pageTitle = "Blog de Desarrollo Web y Tecnología | Alex Ballera";
const description = "Bienvenido a mi blog, donde comparto mi pasión por el desarrollo frontend, diseño web y las últimas tendencias tecnológicas.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "Blog de desarrollo web y tecnología de Alex Ballera."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
