---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/blog/Hero.astro";
import Tags from "../../../components/blog/Tags.astro";
import ListPosts from "../../../components/blog/ListPosts.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import blogImage from '../../../assets/images/blogimage.webp';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pageTitle = `${t('blog.title')} | Fernando López | EFEELE`;
const description = t('blog.subtitle');
const ogimage ={
    url: blogImage.src,
    alt: "EFEELE.dev logo with green background and light effect. Text: 'Web Development and Technology Blog' and URL 'www.efeele.dev'."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
