---
const {class: className} = Astro.props; 
import Icon from "./Icon.astro";
import { getLangFromUrl, useTranslations } from '../../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div
  class={`flex justify-start items-center gap-2 text-blacktext dark:text-mint-50 ${className || ''}`}
>
  <span class="font-medium tracking-wider">{t('common.readMore')} </span>
  <Icon name="arrow-left" class="size-4 rotate-180" />
</div>
